<img src="notepad_background3-1_copy.gif" class="note-image">

<br>
<br>
<br>

<div class="search-box" textarea style="width:500px; height:375px;">
<%= form_tag subjects_path, :method => "get" do %>
  <p>
    <%= text_field_tag(:q, params[:q], :placeholder => "            Search all notes!") %>
    <%= submit_tag "Search", :class => "search btn"%>
  </p>
<br>
<input type="checkbox" name="<%= params[:q] %>" value="<%= params[:q] %>" class="googleSearch">Search Google for this <br><br>

<input type="checkbox" name="<%= params[:q] %>" value="<%= params[:q] %>" class="soSearch">Search StackOverflow for this <br>

<!-- <input type="checkbox" name="<%= params[:q] %>" value="<%= params[:q] %>" id="googleSearch"><br><br>
<label for="googleSearch"><span>Search Google for this</span></label>

<input type="checkbox" name="<%= params[:q] %>" value="<%= params[:q] %>" id="soSearch"><br>
<label for="soSearch"><span>Search StackOverflow for this</span></label>
 -->
<% end %>

</div>

<script>

$(".search.btn").click(function(){
  var q = $("#q").val();
  q = encodeURIComponent(q);

  if ($(".soSearch").is(":checked")) {
    window.open('http://stackoverflow.com/search?q=' + q);
  }
  if ($(".googleSearch").is(":checked")) {
    window.open('http://www.google.com/');
  }
})

</script>